@import '../shared/variables', '../shared/shared';
body {
  overflow-x: hidden;
}
main {
  .top {
    position: absolute;
    top: 0;
  }
  .homework {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .progress {
      width: 100%;
      margin-bottom: .75rem;
    }
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .homework {
    h6, span {
      font-size: .75em;
    }
  }
}