@import
 url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'),
 url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'),
 url('./variables');

@mixin link-color($opacity) {
  color: rgba(255, 255, 255, $opacity) !important;
}

html {
  --text: #343a40 !important;
  --background: #f8f9fa !important;
  --secondary: #9bb2c6 !important;
  --progress: #d6ecff !important;
  --primary: #007bff !important;
}
.dark {
  --text: #f8f9fa !important;
  --background: #343a40 !important;
  --secondary: #23272b !important;
  --progress: #2d324a !important;
  --primary: #151b20 !important;
}
.text {
  color: var(--text);
}
.background {
  background-color: var(--background);
}
.secondary {
  background-color: var(--secondary);
}
.progress {
  background-color: var(--progress);
}
.primary {
  background-color: var(--primary);
}
a:not([href]) {
  cursor: pointer;
}
a#goUp {
  position: fixed;
  right: 5vw;
  bottom: 5vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 50px;
  width: 50px;

  font-size: 2em;
  color: #fff;
  background-color: #000;
  opacity: .4;
}
.navbar-toggler {
  border: none;
  .navbar-toggler-icon {
    background: none !important;
  }
}
nav {
  position: fixed !important;
  right: 0;
  top: 0;
  z-index: 1;


  i,.badge,img {
    cursor: pointer;
  }
  #search {
    input {
      cursor: text;
      transition-property: all;
    }
    * {
      margin-inline: 0;
    }
  }
  #profile-img {
    &::before {
      content: '|';
      display: inline;
      
      position: absolute;
      top: -5px;
      left: -2.5px;
      color: rgba($secondary, .4);
      font-size: 40px;
    }
    img {
      height: auto;
      width: 44px;
    }
  }
  .badge {
    position: absolute;
    margin: 0;
    top: -1em;
    right: 50%;
    transform: translateX(50%);
  }
}
#top {
  scroll-margin-top: 2000px;
}

main {
  position: relative;
  top: 4.5rem;
  margin-left: 16.5% !important;
}


aside {
  position: fixed !important;
  z-index: 1;

  padding: 1em;
  height: 100vh;
  
  background-color: $primary;
  
  header {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    color: #fff;
   
    i {
      text-align: center;
      font-size: 4rem;
    }
    h3 {
      text-transform: uppercase;
    }
  }
  .list-group {
    a.list-group-item {
      overflow: visible;
      white-space: nowrap;
      padding-block: 1rem;
      font-size: larger;
      @include link-color(.6);
      text-decoration: none;
      &:hover {
        background-color: transparent;
        font-weight: 600;
        @include link-color(.7)
      }
      &.current {
        font-weight: bold;
        @include link-color(1);
      }
    }
  }
}

@media (max-width: 767px) {
  main {
    top: 3.75rem;
  }
  #profile-img::before {
    display: none !important;
  }
  #search-input {
    padding: 0;
    width: 0;
    height: 0;
    border: 0;
  }
  #search-button {
    border: 0;
    background-color: transparent;
    color: inherit;
    box-shadow: none;
  }
  main {
    margin-left: 0 !important;
  }
}
