@import
 url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'),
 url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'),
 url('./variables');

@mixin link-color($opacity) {
  color: rgba(255, 255, 255, $opacity) !important;
}

.navbar-toggler {
  border: none;
  .navbar-toggler-icon {
    background: none !important;
  }
}
nav {
  position: fixed !important;
  right: 0;
  top: 0;
  z-index: 1;
  

  i,.badge,img {
    cursor: pointer;
  }
  #search {
    input {
      cursor: text;
      transition-property: all;
    }
    * {
      margin-inline: 0;
    }
  }
  #profile-img {
    &::before {
      content: '|';
      display: inline;
      
      position: relative;
      top: 5px;
      color: rgba($secondary, .4);
      font-size: 40px;
    }
    img {
      height: auto;
      width: 44px;
    }
  }
  .badge {
    position: absolute;
    margin: 0;
    top: -1em;
    right: 50%;
    transform: translateX(50%);
  }
}

main {
  position: relative;
  left: 0;
  top: 6rem;

  width: 80%;
  margin-left: 16.7% !important;

  button {
    font-size: 1.25em !important;
    font-weight: 700 !important;
  }
  .goal {
    i {
      position: absolute;
      font-size: 3em;
      opacity: .15;
      right: 4%;
      top: 50%;
      transform: translateY(-50%);
    }
    h6 {
      text-transform: uppercase;
    }
  }
  p {
    color: $secondary;
    margin-bottom: 0;
    &+input {
      -webkit-appearance: none;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
      
      width:30px;
      height:30px;

      background:#fff;
      &:checked {
        background-color: $primary;

        &::before {
          content: "✓";
          color: #fff;
          
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}


aside {
  position: fixed !important;
  z-index: 1;

  padding: 1em;
  height: 100vh;
  
  background-color: $primary;
  
  header {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    color: #fff;
   
    i {
      text-align: center;
      font-size: 4rem;
    }
    h3 {
      text-transform: uppercase;
    }
  }
  .list-group {
    a.list-group-item {
      overflow: visible;
      white-space: nowrap;
      padding-block: 1rem;
      font-size: larger;
      @include link-color(.6);
      text-decoration: none;
      &:hover {
        background-color: transparent;
        font-weight: 600;
        @include link-color(.7)
      }
      &.current {
        font-weight: bold;
        @include link-color(1);
      }
    }
  }
}

@media (max-width: 767px) {
  #profile-img::before {
    display: none !important;
  }
  #search-input {
    padding: 0;
    width: 0;
    height: 0;
    border: 0;
  }
  #search-button {
    border: 0;
    background-color: transparent;
    color: inherit;
    box-shadow: none;
  }
  main {
    margin-left: 0 !important;
  }
}
